.paper-wallet {
	width: 1000px;
	height: 453px;
	background-size: contain;
	position: relative;
	margin: 0 auto;
}

.paper-wallet .public-key-qr-code {
	background-color: blue;
	position: absolute;
	padding: 10px;
}

.paper-wallet .public-key-code {
	line-height: 18px;
	font-size: 16px;
	padding: 5px;
	font-weight: bold;
	position: absolute;
	word-break: break-all;
	text-align: center;
}

.paper-wallet .seed-qr-code {
	background-color: red;
	position: absolute;
	padding: 5px;
}

.paper-wallet .seed-code {
	line-height: 14px;
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
	position: absolute;
	word-break: break-all;
	text-align: center;
}